/*
color1: #38407f; //rgba(56, 64, 127, 100)
color2: #375f82; //rgba(55, 95, 130, 100)
color3: #378e8b; //rgba(55, 142, 139, 100)
color4: #37a08e; //rgba(55, 160, 142, 100)
color5: #d5c2c5; //rgba(213, 194, 197, 100)
*/


/* ----------------------------------------------- */
/* BASIC SETUP */
/* ----------------------------------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    background-color: #fff;
    color: #555;
    font-family: 'lato','Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

/* ----------------------------------------------- */
/* REUSABLE COMPONENTS */
/* ----------------------------------------------- */
a {
    text-decoration: none;
}

section {
    padding: 80px 0;
}

.row {
    max-width: 1140px;
    margin: 0 auto;
}

.box {
    padding: 1px;
}

figure {
    margin:0;
}

/* ----- HEADINGS ----- */
h1,
h2,
h3 {
    font-weight: 300;
    text-transform: uppercase;
}

h1 {
    margin-top: 0;
    margin-bottom: 20px;
    color: #fff;
    font-size: 220%;
    word-spacing: 4px;
    letter-spacing: 1px;
}

h2 {
    text-align: center;
    font-size: 230%;
    letter-spacing: 3px;
    -webkit-text-decoration-line: underline;
    -moz-text-decoration-line: underline;
}


h2:after {
    display: block;
    height: 2px;
    background-color: #fff;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
}

/* */
.main-nav {
    float: right;
    list-style: none;
    margin-top: 20px;
}

.main-nav li {
    display: inline-block;
    margin-left: 30px;
}

.main-nav li:last-child {
    margin-right: 20px;
}
.main-nav li a:link,
.main-nav li a:visited {
    margin-right: 10px;
    padding: 8px 0;
    color: #fff;
    font-size: 90%;
    text-decoration: none;
    text-transform: uppercase;
    border-bottom: 2px solid transparent;
    -webkit-transition: border-bottom 0.2s;
    transition: border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid rgba(253, 253, 132, 0.85);
}

/* ----------------------------------------------- */
/* HEADER */
/* ----------------------------------------------- */

header { 
   
    background-image: -webkit-linear-gradient(rgba(10, 22, 124, 0.42), rgba(0, 0, 0, 0.27)), url("../img/cover_image/cover_image.jpg"); 
   
    background-image: linear-gradient(rgba(10, 22, 124, 0.42), rgba(0, 0, 0, 0.27)),url("../img/cover_image/cover_image.jpg");
    background-size: cover;
    background-position: top;
    height: 100vh;
    background-attachment: fixed;
}

.cover-text-box {
    position: absolute;
    margin-left: 130px;
    top: 220px;
    color: #f0ebeb;
}

#header-oscar-winner {
    color: rgba(253, 253, 132, 0.85);
    font-size: 110%;
    font-weight: 145%;
}

#header-star-name {
    font-size: 75%;
    font-weight: 125%;
}

.cover-text-box a:link,
.cover-text-box a:visited {
    font-size: 120%;
    color: rgba(253, 253, 132, 0.85);
}

.cover-text-box a:hover,
.cover-text-box a:active {
    border-left: 2px solid rgba(253, 253, 132, 0.85);
    border-bottom: 2px solid rgba(253, 253, 132, 0.85);
    -webkit-transition: border-left 0.3s border-bottom 0.6s;
    transition: border-left 3s, border-bottom 0.6s;
}


/* ----------------------------------------------- */
/* PORFOLIO */
/* ----------------------------------------------- */
.section-porfolio {
    background-image: -webkit-linear-gradient(rgba(222, 216, 199, 0.14), rgba(13, 29, 100, 0.28)), url(../img/porfolio-image2.jpg);
    background-image: linear-gradient(rgba(222, 216, 199, 0.14), rgba(13, 29, 100, 0.28)),
url(../img/porfolio-image2.jpg);
    background-size: cover;
    background-position: top;
    padding: 50px;
}

.section-porfolio h2{
    color: rgba(253, 253, 132, 0.85);
    margin-bottom: 20px;
    margin-top: 10px;
    text-align: left;
}

.section-porfolio h2:after {
    margin: 10px;
    margin-left: 0px;
    
}

.porfolio-text {
    margin-bottom: 20px;
    width: 45%;
    padding: 20px 20px;
    background-color: rgb(28,34,87)/*rgba(45, 50, 90, 0.97)*/;
    box-shadow: 1px 1px 16px 2px rgba(136, 136, 136, 0.93);
}

.porfolio-link {
    margin: 10px 10px 10px 0px;
}

.porfolio-link a {
    color: rgba(253, 253, 132, 0.85);
}

.porfolio-link a:hover {
    color: #f5ff79;
    font-size: 130%;
    font-weight: bolder;
    -webkit-transition: font-size 0.7s;
    transition: font-size 0.7s, font-weight 0.5s, color 0.7s;
}

.porfolio-star-name {
    font-size: 130%;
    color:#f5ff79;
}

.porfolio-photo {
    text-align: center;
    font-size: 120%;
    color:#38407f;
}

.section-porfolio p {
    color: #fffff9;
    line-height: 140%;

}

/* ----------------------------------------------- */
/* MOVIES */
/* ----------------------------------------------- */
.section-movies {
    background-image: url(../img/navy-blue-.jpg); 
}

.section-movies h2 {
    color: rgba(253, 253, 132, 0.85);
}

.section-movies h2:after {
    margin-bottom: 3%;  
}

.movie-photo {
    margin-bottom: 0px;
}
.movie-photo img {
    width: 100%;
    height: auto;
    
}

.movie-photo img:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);/*0px 0px 16px 4px rgba(0, 0, 0, 0.06)*/;
    opacity: 2;
    -webkit-transform: scale(1.06);
    -ms-transform: scale(1.06);
    transform: scale(1.06);
    -webkit-transition: opacity 1s -webkit-transform 1s;
    transition: opacity 1s transform 1s;
}

.bottom-row {
    margin-bottom: 20px;
}
/* ----------------------------------------------- */
/* NEWS */
/* ----------------------------------------------- */
.section-news {
    background-image: url(../img/news_pattern.png);
    
}

.section-news h2 {
    color: darkslateblue;
    font-weight: 120%;
}

.section-news h2:after {
    margin-bottom: 3%; 
    background-color: darkslateblue;
}

.slide-content {
    margin: 10px;
    margin-bottom: 10px;
    background-image: url(../img/navy-blue-.jpg);
    height: 400px;
    color: white;
}

.slide-content img {
    width: 100%;
    margin-bottom: 40px;
}

.slide-content img:hover {
    
}

.slide-content a {
    font-size: 120%;
    word-spacing: 4px;
    color: #fff;
    border: 2px solid white;
    border-radius: 0;
    padding: 7px;
}

.slide-content a:hover {
    border-radius: 20px;
    
    color: #FFFF00;
    border-color: #FFFF00;
    -webkit-transition: border-radius 0.7s;
    transition: border-radius 0.7s;
}

.news-description {
    /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
    text-align: center;
}


/* ----------------------------------------------- */
/* FOOTER */
/* ----------------------------------------------- */
footer {
    background-color: #333;
    padding: 50px;
    font-size: 80%;
}